#body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(153, 204, 255);
}
#description{
    text-align:center;
}
a {
    color: rgb(9,64,116);
    text-align: center;
}
h1 {
    color:black;
    text-align:center;
    font-size:40px;
}
h2 {
    color: black;
    font-size:25px;
    text-align:center;
}


